#body{
    background-color: rgb(250, 245, 245);
    margin: 0px;
}

#heading {
    text-align: right;
    background-color: rgb(92, 25, 25);
    padding: 2%;
}

#heading small{
    font-size: x-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: aliceblue;
    font-weight: bolder;
}

#heading small:hover{
    color: orange;
}

#main-heading{
    color: rgb(112, 5, 112);
    text-align: center;
    padding: 2%;
    text-transform: uppercase;
}

#main-heading small{
    padding: 2%;
    font-size: 40px;
    border-left: 15px rgb(100, 7, 7) dashed;
    border-right: 15px rgb(87, 12, 12) dashed;
    border-radius: 30%;
}


#contactlist{
    text-align: center;
    color: whitesmoke;
    margin-top: 4%;
}

#list-container{
    list-style-type:none;
    font-size: medium;
    margin-top: 4%;
    padding: 1%;
    font-weight: bolder;
    font-size: 22px;
    text-transform: uppercase;
    color: blue;
    /* border-top: 10px double darkblue;
    border-radius: 30%; */
}

#list-item {
    border: 8px groove red;
    width: 30%;
    margin-left: 33%;
    align-items: center;
    padding: 2%;
    /* border-top-left-radius: 45%;
    border-bottom-right-radius: 35%; */
   }
   
#list-item:hover{
       color: orange;
}
   
/* #list-container:hover{ */
    /* background-color: darkblue;
    color: whitesmoke; */
/* } */


.delete-button{
    display: flex;
    color: aliceblue;
    text-decoration: none;
}

#form{
    margin: 5%;
}
#form form input{
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1%;
    background-color: whitesmoke;
    color: black;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    border-radius: 10%;
    margin: 1%;
}
